<div class="eqLogic eqLogic-widget #eqType# allowResize" style="width:#width#;height:#height#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-eqType="#eqType#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" >
  <center class="widget-name">
    <span class="warning" title="#alert_name#"><i class='#alert_icon#'></i></span>
    <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#"><i class="fas fa-sync"></i></span>
    <span class="reportModeVisible">#name_display# <span class="object_name">#object_name#</span></span>
    <a href="#eqLink#" class="reportModeHidden">#name_display# <span class="object_name">#object_name#</span></a>
  </center>
  <div>
    <div style="width: 50%; display:inline-block;">
      <center>
        <figure style="width: 150px;margin-left: 5px;margin-top: 5px;margin-bottom: 5px;margin-right: 5px;">
          <div id="gauge-container-#id#">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 150 150">
              <defs></defs>
              <circle cx="75" cy="72" r="53" fill="transparent" stroke="grey"></circle>
              <circle cx="75" cy="72" r="47" fill="transparent" stroke="rgba(204,204,204,#black_bkg#)" stroke-width="8" />
              <circle cx="75" cy="72" r="38" fill="transparent" stroke="rgba(204,204,204,#cyan_bkg#)" stroke-width="8" />
              <circle cx="75" cy="72" r="29" fill="transparent" stroke="rgba(204,204,204,#magenta_bkg#)" stroke-width="8" />
              <circle cx="75" cy="72" r="20" fill="transparent" stroke="rgba(204,204,204,#yellow_bkg#)" stroke-width="8" />
              <path class="blackQte" d="M 75 25 A 47 47 270 0 1 107.66 105.79" stroke="rgba(0,0,0,#black_visible#)" fill="transparent" stroke-width="7" fill-opacity="0.5" stroke-linecap="round" />
              <path class="cyanQte" d="M 75 34 A 38 38 270 0 1 101.41 99.32" stroke="rgba(0,255,255,#cyan_visible#)" fill="transparent" stroke-width="7" fill-opacity="0.5" stroke-linecap="round" />
              <path class="magentaQte" d="M 75 43 A 29 29 270 0 1 95.15 92.85" stroke="rgba(255,0,255,#magenta_visible#)" fill="transparent" stroke-width="7" fill-opacity="0.5" stroke-linecap="round" />
              <path class="yellowQte" d="M 75 52 A 20 20 270 0 1 88.90 86.38" stroke="rgba(255,255,0,#yellow_visible#)" fill="transparent" stroke-width="7" fill-opacity="0.5" stroke-linecap="round" />
            </svg>
          </div>
        </figure>
      </center>
    </div>
    <div style="width: 50%; float: right;">
      <center>
        <div class="cmd cmd-widget" data-type="info" data-subtype="numeric" data-template="line" data-cmd_id="#brother_status_id#" title="Date de valeur : #brother_status_valueDate#<br/>Date de collecte : #brother_status_collectDate#">
          <div class="content-xs">
            <span class="cmdName ">Status </span> <strong class="state">#brother_status#</strong>
          </div>
        </div>
        <br/>
        <div class="cmd cmd-widget history cursor" data-type="info" data-subtype="numeric" data-template="tile" data-cmd_id="#brother_counter_id#" title="Date de valeur : #brother_counter_valueDate#<br/>Date de collecte : #brother_counter_collectDate#">
          <div class="title ">
            <div class="cmdName">Pages</div>
          </div>
          <div class="content-sm">
            <span class="pull-right"></span>
            <span class="pull-right state">#brother_counter#</span>
          </div>
        </div>
        <br/>
        <div class="cmd cmd-widget history cursor" data-type="info" data-subtype="numeric" data-template="tile" data-cmd_id="#brother_lastprints_id#" title="Date de valeur : #brother_lastprints_valueDate#<br/>Date de collecte : #brother_lastprints_collectDate#">
          <div class="title ">
            <div class="cmdName">Dernières impressions</div>
          </div>
          <div class="content-sm">
            <span class="pull-right"></span>
            <span class="pull-right state">#brother_lastprints#</span>
          </div>
        </div>
      </center>
    </div>
  </div>
  #divGraphInfo#
  <script>
    // Remove all unused cmd (empty id)
    $('.eqLogic[data-eqLogic_uid=#uid#] [data-cmd_id=""]').remove();

    // Enable manual refresh
    if ('#refresh_id#' != '') {
      $('.cmd[data-cmd_id=#refresh_id#]').off('click').on('click', function () {
        jeedom.cmd.execute({id: '#refresh_id#'});
      });
    }

    // Update Status on value change
    jeedom.cmd.addUpdateFunction('#brother_status_id#', function(_options) {
      document.querySelector('.cmd[data-cmd_id="#brother_status_id#"]').setAttribute('title', ' : '+_options.valueDate+'<br/> : '+_options.collectDate);
      // $('.cmd[data-cmd_id=#brother_status_id#]').attr('title', ' : '+_options.valueDate+'<br/> : '+_options.collectDate)
      document.querySelector('.cmd[data-cmd_id="#brother_status_id#"] .state').empty().append(_options.display_value)
      // $('.cmd[data-cmd_id=#brother_status_id#] .state').empty().append(_options.display_value)
    });

    // Update Counter on value change
    jeedom.cmd.addUpdateFunction('#brother_counter_id#', function(_options) {
      $('.cmd[data-cmd_id=#brother_counter_id#]').attr('title', ' : '+_options.valueDate+'<br/> : '+_options.collectDate)
      $('.cmd[data-cmd_id=#brother_counter_id#] .state').empty().append(_options.display_value)
    });

    // Update Lastprints on value change
    jeedom.cmd.addUpdateFunction('#brother_lastprints_id#', function(_options) {
      $('.cmd[data-cmd_id=#brother_lastprints_id#]').attr('title', ' : '+_options.valueDate+'<br/> : '+_options.collectDate)
      $('.cmd[data-cmd_id=#brother_lastprints_id#] .state').empty().append(_options.display_value)
    });

    // Build SVG path for this arc [inspired of http://xahlee.info/js/svg_circle_arc.html]
    const f_matrix_times#id# = (([[a, b], [c, d]], [x, y]) => [a * x + b * y, c * x + d * y]);
    const f_vec_add#id# = (([a1, a2], [b1, b2]) => [a1 + b1, a2 + b2]);
    function drow_arc#id#(ray, pourcent) {
        // Cap pourcent between 0 and 99, then convert it in radian
        as = Math.max(0, Math.min(pourcent, 99)) / 180 * 3.6 * Math.PI % (2 * Math.PI);
        // Create a rotation matrix for 270°
        const rotMatrix = [[0, 1], [-1, 0]];
        // Rotate and deplace the arc
        const [sX, sY] = f_vec_add#id#(f_matrix_times#id#(rotMatrix, [ray , 0]), [75, 72]);
        const [eX, eY] = f_vec_add#id#(f_matrix_times#id#(rotMatrix, [ray * Math.cos(as), ray * Math.sin(as)]), [75, 72]);
        // Return the corresponding SVG path
        return "M " + sX + " " + sY + " A " + ray + " " + ray + " " + 270 + ((as > Math.PI) ? " 1 " : " 0 ") + ((as > 0) ? "1 " : "0 ") + eX + " " + eY;
    }

    // Update Black on graph on value change
    jeedom.cmd.addUpdateFunction('#black_id#', function(_options) {
      $('#gauge-container-#id# path.blackQte').attr('d', drow_arc#id#(47, _options.value));
    });
    jeedom.cmd.refreshValue([{cmd_id :'#black_id#', value: '#black_level#'}]);
    $('#gauge-container-#id# path.blackQte').on('click', function() {
        $('#md_modal').dialog({id: 'md_cmdHistory', title: "{{Historique}}"}).load('index.php?v=d&modal=cmd.history&id=#black_id#').dialog('open');
    });

    // Update Cyan on graph on value change
    jeedom.cmd.addUpdateFunction('#cyan_id#', function(_options) {
      $('#gauge-container-#id# path.cyanQte').attr('d', drow_arc#id#(38, _options.value));
    });
    jeedom.cmd.refreshValue([{cmd_id :'#cyan_id#', value: '#cyan_level#'}]);
    $('#gauge-container-#id# path.cyanQte').on('click', function() {
        $('#md_modal2').dialog({title: "{{Historique}}"}).load('index.php?v=d&modal=cmd.history&id=#cyan_id#').dialog('open');
    });

    // Update Magenta on graph on value change
    jeedom.cmd.addUpdateFunction('#magenta_id#', function(_options) {
      $('#gauge-container-#id# path.magentaQte').attr('d', drow_arc#id#(29, _options.value));
    });
    jeedom.cmd.refreshValue([{cmd_id :'#magenta_id#', value: '#magenta_level#'}]);
    $('#gauge-container-#id# path.magentaQte').on('click', function() {
        $('#md_modal2').dialog({title: "{{Historique}}"}).load('index.php?v=d&modal=cmd.history&id=#magenta_id#').dialog('open');
    });

    // Update Yellow on graph on value change
    jeedom.cmd.addUpdateFunction('#yellow_id#', function(_options) {
      $('#gauge-container-#id# path.yellowQte').attr('d', drow_arc#id#(20, _options.value));
    });
    jeedom.cmd.refreshValue([{cmd_id :'#yellow_id#', value: '#yellow_level#'}]);
    $('#gauge-container-#id# path.yellowQte').on('click', function() {
        $('#md_modal2').dialog({title: "{{Historique}}"}).load('index.php?v=d&modal=cmd.history&id=#yellow_id#').dialog('open');
    });

  </script>
</div>
